@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.hero {
  font-family: 'Handlee', cursive;
  margin: 50px 200px;
  border-radius: 10px;
  background-color: #d1d7ad;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  border: 1px solid grey;
}
